# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Artefatos temporários
*.pid

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
